body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, 
pre, form, fieldset, input, textarea, p, blockquote, th, td { 
  padding:0;
  margin:0;}

fieldset, img {border:0}

ol, ul, li {list-style:none}

:focus {outline:none}

body,
input,
textarea,
select {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #4c4c4c;
}

p {
  font-size: 12px;
  width: 150px;
  display: inline-block;
  margin-left: 18px;
}
h1 {
  font-size: 32px;
  font-weight: 300;
  color: #4c4c4c;
  text-align: center;
  padding-top: 10px;
  margin-bottom: 10px;
}

html{
  background-color: #ffffff;
}

center{
  color:blue
}

#example2 {
  border: 12px blue; 
    margin-left: 600px; 
    margin-right: 600px;
  padding: 10px;
  box-shadow: 5px 10px 18px #fb0b0b;

}


form{
  margin: 0 30px;

}

.login{
    background-image: url('./login.jpg');
}







hr{
  color: #a9a9a9;
  opacity: 0.3;
}

input[type=text],input[type=password]{
  width: 200px; 
  height: 39px; 
  -webkit-border-radius: 0px 4px 4px 0px/5px 5px 4px 4px; 
  -moz-border-radius: 0px 4px 4px 0px/0px 0px 4px 4px; 
  border-radius: 0px 4px 4px 0px/5px 5px 4px 4px; 
  background-color: #b7bcc2;
    box-shadow: 1px 2px 5px #2618e9;
    border: solid 1px #1b1a1a;
    margin-left: -5px;
    margin-top: 13px;
    padding-left: 10px;
}

input[type=password]{
  margin-bottom: 25px;
}


.accounttype{
  margin-left: 8px;
  margin-top: 20px;
}


.hover {
  top: 3px;
  background-color:#aeb9e6;
 
}

